body {
    background-color: green;
}
.titre {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.menu {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
a:link {
    color: yellow;
}
a:visited {
     color: yellow;
}
a:hover {
    color: blue;
    font-size: 35px;
}